<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LMD.ListCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup><applicationSettings>
        <LMD.ListCheck.Properties.Settings>
            <setting name="LMD_ListCheck_WS_List_Lists" serializeAs="String">
                <value>https://www.niem.gov/_vti_bin/lists.asmx</value>
            </setting>
            <setting name="LMD_ListCheck_WSSAuthentication_Authentication"
                serializeAs="String">
                <value>https://www.niem.gov/_vti_bin/authentication.asmx</value>
            </setting>
            <setting name="LMD_ListCheck_WS_WebSvcWebs_Webs" serializeAs="String">
                <value>https://www.niem.gov/_vti_bin/webs.asmx</value>
            </setting>
        </LMD.ListCheck.Properties.Settings>
    </applicationSettings>
</configuration>
